{% extends 'plantillas/plantilla.html.twig' %}

{% block contenido %}

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Editemos tu perfil <br> {{ app.user.nombre }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape justify-content-center">
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="profile-title">
                                <h3>Tu información personal</h3>
                            </div>
                            <div class="profile-form-edit ">
                                <div id="educacion" class="contact-edit" id="contactform">
                                    {{ form_start(form, { 'attr' : {'role':'form'}}) }}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">{{ form_label(form.username) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.username) }}
                                                <span class="text-danger">{{ form_errors(form.username) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">{{ form_label(form.password) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.password) }}
                                                <span class="text-danger">{{ form_errors(form.password) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">{{ form_label(form.nombre) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.nombre) }}
                                                <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">{{ form_label(form.apellidos) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.apellidos) }}
                                                <span class="text-danger">{{ form_errors(form.apellidos) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">{{ form_label(form.email) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.email) }}
                                                <span class="text-danger">{{ form_errors(form.email) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">{{ form_label(form.fecha_nacimiento) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.fecha_nacimiento) }}
                                                <span class="text-danger">{{ form_errors(form.fecha_nacimiento) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">{{ form_label(form.sexo) }}</span>
                                            <div class="dropdown-field">
                                                {{ form_widget(form.sexo) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">{{ form_label(form.pais_origen) }}</span>
                                            <div class="dropdown-field">
                                                {{ form_widget(form.pais_origen) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">{{ form_label(form.provincia) }}</span>
                                            <div class="dropdown-field">
                                                {{ form_widget(form.provincia) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">{{ form_label(form.direccion) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.direccion) }}
                                                <span class="text-danger">{{ form_errors(form.direccion) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">{{ form_label(form.cod_postal) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.cod_postal) }}
                                                <span class="text-danger">{{ form_errors(form.cod_postal) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">{{ form_label(form.telefono) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.telefono) }}
                                                <span class="text-danger">{{ form_errors(form.telefono) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">{{ form_label(form.especialidad) }}</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.especialidad) }}
                                                <span class="text-danger">{{ form_errors(form.especialidad) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 justify-content-center">
                                            <div class="upload-portfolio">

                                                <div class="uploadbox">
                                                    <label for="appbundle_usuario_imagen" class="custom-file-upload">
                                                        <i class="la la-cloud-upload"></i> <span>Subir imagen<br>Opcional</span>
                                                    </label>
                                                    {{ form_widget(form.imagen) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            {{ form_widget(form.Enviar) }}
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}