{% extends 'plantillas/plantilla.html.twig' %}

{% block contenido %}

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Editemos tu perfil <br> {{ app.user.nombre }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape justify-content-center">
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="profile-title">
                                <h3>Tu información personal</h3>
                                <div class="steps-sec">
                                    <div class="step active" id="circle-educacion">
                                        <p><i class="la la-graduation-cap"></i></p>
                                        <span>Educación</span>
                                    </div>
                                    <div class="step" id="circle-experiencia">
                                        <p><i class="la la-file-text"></i></p>
                                        <span>Experiencia</span>
                                    </div>
                                    <div class="step" id="circle-habilidades">
                                        <p><i class="la  la-check-circle"></i></p>
                                        <span>Habilidades</span>
                                    </div>
                                    <div class="step" id="circle-informacion">
                                        <p><i class="la  la-user"></i></p>
                                        <span>Información</span>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-form-edit">
                                {{ form_start(form, { 'attr' : {'role':'form'}}) }}
                                <div id="educacion" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Nombre del usuario</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.username) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Contraseña</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.password) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Correo electónico</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.email) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" id="edu-siguiente">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="experiencia" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Nombre</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.nombre) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Apellidos</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.apellidos) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Fecha de nacimiento</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.fecha_nacimiento) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Sexo</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.sexo) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" id="expe-siguiente">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="habilidades" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Pais origen</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.pais_origen) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Provincia</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.provincia) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Direccion</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.direccion) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Código postal</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.cod_postal) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" id="habili-siguiente">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="informacion" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Teléfono</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.telefono) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Especialidad</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.especialidad) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="upload-portfolio">

                                                <div class="uploadbox">
                                                    <label for="appbundle_usuario_imagen" class="custom-file-upload">
                                                        <i class="la la-cloud-upload"></i> <span>Subir imagen<br>Opcional</span>
                                                    </label>
                                                    {{ form_widget(form.imagen) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            {{ form_widget(form.Enviar) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}