{% extends 'plantillas/plantilla.html.twig' %}

{% block contenido %}

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="overlape">
        <div class="block remove-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cand-single-user">
                            <div class="share-bar circle">

                            </div>
                            <div class="can-detail-s">
                                <div class="cst">
                                    <div style="background-image: url('/img_user/{{ app.user.imagen }}')" class="img-profile-145"></div>
                                </div>
                                <h3>{{ app.user.nombre }}<br>{{ app.user.apellidos }}</h3>
                                <span><i>{{ app.user.especialidad }}</i></span>
                                <p>{{ app.user.email }}</p>
                                <p>{{ app.user.fechaNacimiento }}</p>
                                <p><i class="la la-map-marker"></i>{{ app.user.paises }} / {{ app.user.provincias }}</p>
                            </div>
                            <div class="download-cv">
                                <a href="{{ path('generatePdf') }}" title="">Descargar CV <i class="la la-download"></i></a>
                            </div>
                        </div>
                        <ul class="cand-extralink">
                            <li><a href="#about" title="">Sobre mi</a></li>
                            <li><a href="#education" title="">Educación</a></li>
                            <li><a href="#experience" title="">Experiencia laboral</a></li>
                            <li><a href="#skills" title="">Habilidades personales</a></li>
                        </ul>
                        <div class="cand-details-sec">
                            <div class="row">
                                <div class="col-lg-8 column">
                                    <div class="padding-left">
                                        <div class="manage-jobs-sec">
                                            {% for flashMessage in app.session.flashbag.get('mensaje') %}
                                                <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
                                                    {{ flashMessage }}
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endfor %}
                                            <div class="border-title"><h3>Información personal</h3><a href="{{ path('addInformacion') }}" title="Añadir información" id="about"><i class="la la-plus"></i> Añadir información</a>
                                                {% for informacion in informaciones %}
                                                <ul class="action_job">
                                                    <li><span>Editar</span><a href="{{ path('editInformacion', {id:informacion.id}) }}" title=""><i class="la la-pencil"></i></a></li>
                                                </ul></div>
                                            <div class="edu-history-sec">
                                                <div class="edu-history">
                                                    <p>{{ informacion.infoPersonal }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="border-title"><h3>Estudios</h3><a href="{{ path('addEducacion') }}" title="Añadir nuevo estudio" id="education"><i class="la la-plus"></i> Añadir estudio</a></div>
                                            <div class="edu-history-sec">
                                                {% for educacion in educaciones %}
                                                <div class="edu-history">
                                                    <i class="la la-graduation-cap"></i>
                                                    <div class="edu-hisinfo">
                                                        <h3>{{ educacion.tipo }}</h3>
                                                        <i>{{ educacion.fechaInicio }} - {{ educacion.fechaFin }}</i>
                                                        <span>{{ educacion.centro }}</span>
                                                        <p>{{ educacion.descripcion }}</p>
                                                    </div>
                                                    <ul class="action_job">
                                                        <li><span>Edit</span><a href="{{ path('editEducacion', {id:educacion.id}) }}" title="Editar estudios"><i class="la la-pencil"></i></a></li>
                                                        <li><span>Delete</span><a href="{{ path('deleteEducacion', {id:educacion.id}) }}" title="Borrar estudios"><i class="la la-trash-o"></i></a></li>
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="border-title"><h3>Experiencia laboral</h3><a href="{{ path('addExperiencia') }}" title="Añadir nueva experiencia" id="experience"><i class="la la-plus"></i> Añadir experiencia</a></div>
                                            <div class="edu-history-sec">
                                                {% for experiencia in experiencias %}
                                                <div class="edu-history style2">
                                                    <i></i>
                                                    <div class="edu-hisinfo">
                                                        <h3>{{ experiencia.oficio }} <span>{{ experiencia.nombreEmpresa }}</span></h3>
                                                        <i>{{ experiencia.fechaInicio }} - {{ experiencia.fechaFin }}</i>
                                                        <p>{{ experiencia.descripcion }}</p>
                                                    </div>
                                                    <ul class="action_job">
                                                        <li><span>Edit</span><a href="{{ path('editExperiencia', {id:experiencia.id}) }}" title="Editar experiencia"><i class="la la-pencil"></i></a></li>
                                                        <li><span>Delete</span><a href="{{ path('deleteExperiencia', {id:experiencia.id}) }}" title="Borrar experiencia"><i class="la la-trash-o"></i></a></li>
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="border-title"><h3>Idiomas</h3><a href="{{ path('addIdioma') }}" title="Añadir idioma" id="skills"><i class="la la-plus"></i> Añadir idioma</a></div>
                                            <div class="edu-history-sec">
                                                {% for idioma in idiomas %}
                                                <div class="edu-history style2">
                                                    <i></i>
                                                    <div class="edu-hisinfo">
                                                        <h3>{{ idioma.idiomas }} - {{ idioma.nivel }}</h3>
                                                        <p>Hablado: {{ idioma.hablado }} | Escrito: {{ idioma.escrito }} | Leido: {{ idioma.leido }}</p>
                                                    </div>
                                                    <ul class="action_job">
                                                        <li><span>Edit</span><a href="{{ path('editIdioma', {id:idioma.id}) }}" title="Editar idioma"><i class="la la-pencil"></i></a></li>
                                                        <li><span>Delete</span><a href="{{ path('deleteIdioma', {id:idioma.id}) }}" title="Borrar idioma"><i class="la la-trash-o"></i></a></li>
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="border-title"><h3>Conocimientos adicionales</h3><a href="{{ path('addConocimiento') }}" title="Añadir conocimiento" id="skills"><i class="la la-plus"></i> Añadir conocimiento</a></div>
                                            <div class="edu-history-sec">
                                                {% for conocimiento in conocimientos %}
                                                    <div class="edu-history">
                                                        <div class="edu-hisinfo">
                                                            <h3>{{ conocimiento.tipo }} - <span>{{ conocimiento.especialidad }}</span></h3>
                                                            <span>{{ conocimiento.centro }}</span>
                                                            <p>{{ conocimiento.descripcion }}</p>
                                                        </div>
                                                        <ul class="action_job">
                                                            <li><span>Edit</span><a href="{{ path('editConocimiento', {id:conocimiento.id}) }}" title="Editar conocimiento"><i class="la la-pencil"></i></a></li>
                                                            <li><span>Delete</span><a href="{{ path('deleteConocimiento', {id:conocimiento.id}) }}" title="Borrar conocimiento"><i class="la la-trash-o"></i></a></li>
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 column">
                                    <div class="job-overview">
                                        {% for informacion in informaciones %}
                                        <h3>Descripción general del empleo</h3>
                                        <ul>
                                            <li><i class="la la-money"></i><h3>Expectativas salariales</h3>
                                                <span>€{{ informacion.expectativaSalario }} - €{{ informacion.expectativaSalarioFinal }}</span>
                                            </li>
                                            <li><i class="la la-mars-double"></i><h3>Genero</h3>
                                                <span>{{ app.user.sexo }}</span>
                                            </li>
                                            <li><i class="la la-thumb-tack"></i><h3>Nivel de carrera</h3>
                                                <span>{{ informacion.nivelCarrera }}</span>
                                            </li>
                                            <li><i class="la la-puzzle-piece"></i><h3>Industria</h3>
                                                <span>{{ informacion.industria }}</span>
                                            </li>
                                            <li><i class="la la-shield"></i><h3>Experiencia</h3>
                                                <span>{{ informacion.experiencia }}</span>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </div><!-- Job Overview -->
                                    {% if is_granted('ROLE_EMPRESA') %}
                                    <div class="quick-form-job">
                                        <h3>Contacto</h3>
                                        <form>
                                            <input type="text" placeholder="Introduce tu nombre *" />
                                            <input type="text" placeholder="Introduce tu email*" />
                                            <textarea placeholder="Mensaje..."></textarea>
                                            <button class="submit">Enviar email</button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}