{% extends 'plantillas/plantilla.html.twig' %}

{% block contenido %}

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="overlape">
        <div class="block remove-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cand-single-user">
                            <div class="share-bar circle">

                            </div>
                            <div class="can-detail-s">
                                <div class="cst"><img src="/img_user/{{ app.user.imagen }}" alt="Tu imagen de perfil" class="img-profile-145" /></div>
                                <h3>{{ app.user.nombre }}<br>{{ app.user.apellidos }}</h3>
                                <span><i>{{ app.user.especialidad }}</i></span>
                                <p>{{ app.user.email }}</p>
                                <p>{{ app.user.fechaNacimiento }}</p>
                                <p><i class="la la-map-marker"></i>{{ app.user.paisOrigen }} / {{ app.user.provincia }}</p>
                            </div>
                            <div class="download-cv">
                                <a href="#" title="">Descargar CV <i class="la la-download"></i></a>
                            </div>
                        </div>
                        <ul class="cand-extralink">
                            <li><a href="#about" title="">Sobre mi</a></li>
                            <li><a href="#education" title="">Educación</a></li>
                            <li><a href="#experience" title="">Experiencia laboral</a></li>
                            <li><a href="#skills" title="">Habilidades personales</a></li>
                            <li><a href="#awards" title="">Estudios</a></li>
                        </ul>
                        <div class="cand-details-sec">
                            <div class="row">
                                <div class="col-lg-8 column">
                                    <div class="cand-details" id="about">
                                        <h2>Información personal</h2>
                                        <p>Hello my name is Mark William Connor and I’m a Web Designer & Web Developer from Melbourne, Australia. In pharetra orci dignissim, blandit mi semper, ultricies diam. Suspendisse malesuada suscipit nunc non volutpat. Sed porta nulla id orci laoreet tempor non consequat enim. Sed vitae aliquam velit. Aliquam ante erat, blandit at pretium et, accumsan ac est. Integer vehicula rhoncus molestie. Morbi ornare ipsum sed sem condimentum, et pulvinar tortor luctus. Suspendisse condimentum lorem ut elementum aliquam. </p>
                                        <p>Mauris nec erat ut libero vulputate pulvinar. Aliquam ante erat, blandit at pretium et, accumsan ac est. Integer vehicula rhoncus molestie. Morbi ornare ipsum sed sem condimentum, et pulvinar tortor luctus. Suspendisse condimentum lorem ut elementum aliquam. Mauris nec erat ut libero vulputate pulvinar.</p>
                                        <div class="edu-history-sec" id="education">
                                            <h2>Educación</h2>
                                            <div class="edu-history">
                                                <i class="la la-graduation-cap"></i>
                                                <div class="edu-hisinfo">
                                                    <h3>University</h3>
                                                    <i>2008 - 2012</i>
                                                    <span>Middle East Technical University <i>Computer Science</i></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                                </div>
                                            </div>
                                            <div class="edu-history">
                                                <i class="la la-graduation-cap"></i>
                                                <div class="edu-hisinfo">
                                                    <h3>High School</h3>
                                                    <i>2008 - 2012</i>
                                                    <span>Tomms College <i>Bachlors in Fine Arts</i></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu-history-sec" id="experience">
                                            <h2>Experiencia laboral</h2>
                                            <div class="edu-history style2">
                                                <i></i>
                                                <div class="edu-hisinfo">
                                                    <h3>Web Designer <span>Inwave Studio</span></h3>
                                                    <i>2008 - 2012</i>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                                </div>
                                            </div>
                                            <div class="edu-history style2">
                                                <i></i>
                                                <div class="edu-hisinfo">
                                                    <h3>CEO Founder <span>Inwave Studio</span></h3>
                                                    <i>2008 - 2012</i>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-sec" id="skills">
                                            <h2>Habilidades personales</h2>
                                            <div class="progress-sec">
                                                <span>Adobe Photoshop</span>
                                                <div class="progressbar"> <div class="progress" style="width: 80%;"><span>80%</span></div> </div>
                                            </div>
                                            <div class="progress-sec">
                                                <span>Production In Html</span>
                                                <div class="progressbar"> <div class="progress" style="width: 60%;"><span>60%</span></div> </div>
                                            </div>
                                            <div class="progress-sec">
                                                <span>Graphic Design</span>
                                                <div class="progressbar"> <div class="progress" style="width: 75%;"><span>75%</span></div> </div>
                                            </div>
                                        </div>
                                        <div class="edu-history-sec" id="awards">
                                            <h2>Idiomas</h2>
                                            <div class="edu-history style2">
                                                <i></i>
                                                <div class="edu-hisinfo">
                                                    <h3>Ingles</h3>
                                                    <i>Medio</i>
                                                </div>
                                            </div>
                                            <div class="edu-history style2">
                                                <i></i>
                                                <div class="edu-hisinfo">
                                                    <h3>Aleman</h3>
                                                    <i>Bajo</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 column">
                                    <div class="job-overview">
                                        <h3>Descripción general del empleo</h3>
                                        <ul>
                                            <li><i class="la la-money"></i><h3>Expectativas salariales</h3><span>£15,000 - £20,000</span></li>
                                            <li><i class="la la-mars-double"></i><h3>Genero</h3><span>{{ app.user.sexo }}</span></li>
                                            <li><i class="la la-thumb-tack"></i><h3>Nivel de carrera</h3><span>Executive</span></li>
                                            <li><i class="la la-puzzle-piece"></i><h3>Industria</h3><span>Management</span></li>
                                            <li><i class="la la-shield"></i><h3>Experiencia</h3><span>2 Years</span></li>
                                            <li><i class="la la-line-chart "></i><h3>Calificación</h3><span>Bachelor Degree</span></li>
                                        </ul>
                                    </div><!-- Job Overview -->
                                    <div class="quick-form-job">
                                        <h3>Contacto</h3>
                                        <form>
                                            <input type="text" placeholder="Introduce tu nombre *" />
                                            <input type="text" placeholder="Introduce tu email*" />
                                            <textarea placeholder="Mensaje..."></textarea>
                                            <button class="submit">Enviar email</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}