{% extends 'plantillas/plantilla.html.twig' %}

{% block contenido %}
    
    <section>
        <div class="block no-padding">
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-featured-sec">
                            <ul class="main-slider-sec text-arrows">
                                <li class="slideHome"><img src="{{ asset('images/img/fondo1.jpg') }}" alt="" /></li>
                                <li class="slideHome"><img src="{{ asset('images/img/mano.jpg') }}" alt="" /></li>
                                <li class="slideHome"><img src="{{ asset('images/img/fondo3.jpg') }}" alt="" /></li>
                            </ul>
                            <div class="job-search-sec">
                                <div class="job-search">
                                    <h3>Busca tu trabajo ideal con HelloWork!</h3>
                                    <span>Busca trabajos e inserta ofertas de empleo</span>
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-7 col-md-5 col-sm-5 col-xs-12">
                                                <div class="job-field">
                                                    <input type="text" placeholder="Nombre del trabajo, empresa o palabra clave " />
                                                    <i class="la la-keyboard-o"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                                <div class="job-field">
                                                    <select data-placeholder="City, province or region" class="chosen-city">
                                                        <option>Istanbul</option>
                                                        <option>New York</option>
                                                        <option>London</option>
                                                        <option>Russia</option>
                                                    </select>
                                                    <i class="la la-map-marker"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                                <button type="submit"><i class="la la-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="or-browser">
                                        <span>Buscar oferta de trabajo por </span>
                                        <a href="#" title="">categoría</a>
                                    </div>
                                </div>
                            </div>
                            <div class="scroll-to">
                                <a href="#scroll-here" title=""><i class="la la-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scroll-here">
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading">
                            <h2>Categorías Populares</h2>
                        </div>
                        <div class="cat-sec">
                            <div class="row no-gape">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="p-category">
                                        <a title="">
                                            <i class="la la-bullhorn"></i>
                                            <span>Diseño, Arte & Multimedia</span>
                                            <p>(22 Puestos)</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="p-category">
                                        <a  title="">
                                            <i class="la la-graduation-cap"></i>
                                            <span>Educación</span>
                                            <p>(6 Puestos)</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="p-category">
                                        <a  title="">
                                            <i class="la la-line-chart "></i>
                                            <span>Cuentas / Finanzas</span>
                                            <p>(3 Puestos)</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="p-category">
                                        <a  title="">
                                            <i class="la la-users"></i>
                                            <span>Recursos humanos</span>
                                            <p>(3 Puestos)</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cat-sec">
                            <div class="row no-gape">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="p-category">
                                        <a  title="">
                                            <i class="la la-phone"></i>
                                            <span>Telecomunicaciones</span>
                                            <p>(22 Puestos)</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="p-category">
                                        <a  title="">
                                            <i class="la la-cutlery"></i>
                                            <span>Restaurante / Servicio de comida</span>
                                            <p>(6 Puestos)</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="p-category">
                                        <a  title="">
                                            <i class="la la-building"></i>
                                            <span>Construcción / Instalaciones</span>
                                            <p>(3 Puestos)</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="p-category">
                                        <a  title="">
                                            <i class="la la-user-md"></i>
                                            <span>Salud</span>
                                            <p>(3 Puestos)</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="scroll-to">
                            <a href="#scroll" title=""><i class="la la-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scroll">
        <div class="block double-gap-top double-gap-bottom">
            <div data-velocity="-.1" style="background: url('{{ asset('images/img/fondo2.jpg') }}') repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="simple-text-block">
                            <h3>Marca la diferencia con tu currículum en línea!</h3>
                            <span>¡Tu currículum en minutos con HelloWork!</span>
                            {% if is_granted('ROLE_USER')%}
                                <a href="#" title="Crear currículum">Crea tu currículum</a>
                            {% else %}
                                <a href="{{ path('registro') }}" title="Crear cuenta">Crea una cuenta</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>	
        </div>
    </section>



    <section>
            <div class="block">
                    <div data-velocity="-.1" style="background: url({{ asset('images/img/job.jpg') }}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color light"></div><!-- PARALLAX BACKGROUND IMAGE -->
                    <div class="container">
                            <div class="row">
                                    <div class="col-lg-12">
                                            <div class="heading light">
                                                    <h2>Comentarios de Clientes</h2>
                                                    <span>¿Que piensan los usuarios de HelloWork!?</span>
                                            </div><!-- Heading -->
                                            <div class="reviews-sec" id="reviews-carousel">
                                                    <div class="col-lg-6">
                                                            <div class="reviews">
                                                                    <img src="{{ asset('img_user/usuario.png') }}" alt="" />
                                                                    <h3>Jorge Gonzalez <span>Web designer</span></h3>
                                                                    <p>No puedo creer el increible servicio que ofrece esta aplicación web. La recomiendo 100%</p>
                                                            </div><!-- Reviews -->
                                                    </div>
                                                    <div class="col-lg-6">
                                                            <div class="reviews">
                                                                    <img src="{{ asset('img_user/usuario.png') }}" alt="" />
                                                                    <h3>Alejandro Frutos <span>Web designer</span></h3>
                                                                    <p>Acabé mis estudios superiores en José Planes y fui directo al paro. Gracias a HelloWork! ahora tengo trabajo estable de becario.</p>
                                                            </div><!-- Reviews -->
                                                    </div>
                                                    <div class="col-lg-6">
                                                            <div class="reviews">
                                                                    <img src="{{ asset('img_user/usuario.png') }}" alt="" />
                                                                    <h3>Nicolás Meseguer <span>Web designer</span></h3>
                                                                    <p>Al principio desconfiaba de la aplicación pero me ha sorprendido gratamente y ahora la recomiendo a todos mis amigos.</p>
                                                            </div><!-- Reviews -->
                                                    </div>
                                                    <div class="col-lg-6">
                                                            <div class="reviews">
                                                                    <img src="{{ asset('img_user/usuario.png') }}" alt="" />
                                                                    <h3>Francisco Dominguez Lerma  <span>(casi) Web designer</span></h3>
                                                                    <p>Seguro que Linus Torvalds y Richard Stallman aprueban esta iniciativa.</p>
                                                            </div><!-- Reviews -->
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                    </div>	
            </div>
    </section>

    <section>
            <!--<div class="block">
                    <div class="container">
                            <div class="row">
                                    <div class="col-lg-12">
                                            <div class="heading">
                                                    <h2>Companies We've Helped</h2>
                                                    <span>Some of the companies we've helped recruit excellent applicants over the years.</span>
                                            </div>
                                            <div class="comp-sec">
                                                    <div class="company-img">
                                                            <a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
                                                    </div>
                                                    <div class="company-img">
                                                            <a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
                                                    </div>
                                                    <div class="company-img">
                                                            <a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
                                                    </div>
                                                    <div class="company-img">
                                                            <a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
                                                    </div>
                                                    <div class="company-img">
                                                            <a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>-->
    </section>

    <section>
            <div class="block">
                    <div data-velocity="-.1" style="background: url({{ asset('images/img/blog.jpg') }}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
                    <div class="container">
                            <div class="row">
                                    <div class="col-lg-12">
                                            <div class="heading">
                                                    <h2 style="color:white;">Ayudas para crear tu CV</h2>
                                                    <span>Encuentra la mejor forma de buscar empleo.</span>
                                            </div><!-- Heading -->
                                            <div class="blog-sec">
                                                    <div class="row">
                                                            <div class="col-lg-4">
                                                                    <div class="my-blog">
                                                                            <div class="blog-thumb">
                                                                                    <a href="https://laboraltips.com/tips-de-un-curriculum-tradicional/" title=""><img src="{{ asset('images/CV1.jpg') }}" alt="" /></a>

                                                                            </div>
                                                                            <div class="blog-details">
                                                                                    <h3><a href="#" title="">Haz que tu perfíl sea más atractivo</a></h3>
                                                                                    <p>El curriculum es una herramienta muy importante, aprende a crear un documento de calidad.</p>
                                                                                    <a href="https://laboraltips.com/tips-de-un-curriculum-tradicional/" title="">Leer más <i class="la la-long-arrow-right"></i></a>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                    <div class="my-blog">
                                                                            <div class="blog-thumb">
                                                                                    <a href="http://tipsdetrabajo.blogspot.com/2015/05/6-errores-comunes-en-una-entrevista-de.html" title=""><img src="{{ asset('images/entrevista.jpeg') }}" alt="" /></a>

                                                                            </div>
                                                                            <div class="blog-details">
                                                                                    <h3><a href="#" title="">6 errores comúnes en una entrevista</a></h3>
                                                                                    <p>El paso previo al empleo siempre va a ser una entrevista de trabajo, aprende como debes comportarte. </p>
                                                                                    <a href="http://tipsdetrabajo.blogspot.com/2015/05/6-errores-comunes-en-una-entrevista-de.html" title="">Leer más <i class="la la-long-arrow-right"></i></a>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                        <div class="col-lg-4">
                                                            <div class="my-blog">
                                                                <div class="blog-thumb">
                                                                    <a href="http://jorgesanchezmorzan.info/tu-empleo-ideal-20-tips-para-conseguirlo/" title=""><img src="{{ asset('images/empleo.jpg') }}" alt="" /></a>

                                                                </div>
                                                                <div class="blog-details">
                                                                    <h3><a href="#" title="">Tu empleo ideal</a></h3>
                                                                    <p>¿No sabes en que trabajar? Estos sencillos Tips seguro son de ayuda. </p>
                                                                    <a href="http://tipsdetrabajo.blogspot.com/2015/05/6-errores-comunes-en-una-entrevista-de.html" title="">Leer más <i class="la la-long-arrow-right"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>
    </section>

    <section>
            <div class="block no-padding">
                    <div class="container fluid">
                            <div class="row">
                                    <div class="col-lg-12">
                                            <div class="simple-text">
                                                    <h3>¿Alguna pregunta?</h3>
                                                    <span>Escribenos un correo a hellowork@gmail.com o llamanos al 628415530 estaremos encantados de atenderte.</span>
                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>
    </section>

</div>
    
{% endblock %}