<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>IntroJob | Tu buscador de trabajo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CreativeLayers">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('images/ij.png') }}" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href={{ asset("css/bootstrap-grid.css") }} />
    <link rel="stylesheet" href={{ asset("css/icons.css") }}>
    <link rel="stylesheet" href={{ asset("css/animate.min.css") }}>
    <link rel="stylesheet" type="text/css" href={{ asset("css/style.css") }} />
    <link rel="stylesheet" type="text/css" href={{ asset("css/responsive.css") }} />
    <link rel="stylesheet" type="text/css" href={{ asset("css/chosen.css") }} />
    <link rel="stylesheet" type="text/css" href={{ asset("css/colors/colors.css") }} />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

</head>
<body>

<div class="page-loading">
    <img src="{{ asset('images/loader.gif') }}" alt="cargando" />
    <span>Cargando</span>
</div>

<div class="theme-layout" id="scrollup">

    <div class="responsive-header">
        <div class="responsive-menubar">
            <div class="res-logo"><a href="{{ path('index') }}" title=""><img src="{{ asset('images/introjobs-title.png') }}" alt="" /></a></div>
            <div class="menu-resaction">
                <div class="res-openmenu">
                    <img src="images/icon.png" alt="Menu" /> Menu
                </div>
                <div class="res-closemenu">
                    <img src="images/icon2.png" alt="Cerrar menu" /> Close
                </div>
            </div>
        </div>
        <div class="responsive-opensec">
            <!-- MOVIL -->
            {% if is_granted('ROLE_USER') %}
                <div class="responsivemenu">
                    <ul>
                        <li class="menu-item-has-children">
                            <a title="Inicio">Inicio</a>
                            <ul>
                                <li><a href="{{ path('index') }}" title="Página principal">Página principal</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('lista') }}" title="Busqueda de empleos">Buscador de empleo</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="btn-extars">
                    <a href="{{ path('registro') }}" title="registro usuarios" class="post-job-btn"><i class="la la-plus"></i>Registrarse</a>
                    <ul class="account-btns">
                        <li class="signin-popup"><a href="{{ path('login') }}" title="Login usuarios"><i class="la la-external-link-square"></i> Iniciar sesión</a></li>
                    </ul>
                </div><!-- Btn Extras -->
                <div class="responsivemenu">
                    <ul>
                        <li class="menu-item-has-children">
                            <a title="Inicio">Inicio</a>
                            <ul>
                                <li><a href="{{ path('index') }}" title="Página principal">Página principal</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a title="Zona empresario">Zona empresario</a>
                            <ul>
                                <li><a href="{{ path('loginEmp') }}" title="Login empresas">Login</a></li>
                                <li><a href="{{ path('registroEmp') }}" title="Registro empresas">Registro</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('lista') }}" title="Busqueda de empleos">Buscador de empleo</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <header class="stick-top">
        <div class="menu-sec">
            <div class="container">
                <div class="logo">
                    <a href="{{ path('index') }}" title="Página principal"><img src="{{ asset('images/introjobs-title.png') }}" alt="" /></a>
                </div><!-- Logo -->
                <!-- Pantalla PC -->
                {% if is_granted('ROLE_USER') %}
                    <div class="my-profiles-sec">
                    <span>
                        <img src="/img_user/{{ app.user.imagen }}" alt="imagen del usuario" class="img-profile-60" />
                        {{ app.user.nombre }} <i class="la la-bars"></i></span>
                    </div>
                    <nav>
                        <ul>
                            <li class="menu-item-has-children">
                                <a title="Inicio">Inicio</a>
                                <ul>
                                    <li><a href="{{ path('index') }}" title="Página principal">Página principal</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ path('lista') }}" title="Busqueda de empleos">Buscador de empleo</a>
                            </li>
                        </ul>
                    </nav><!-- Menus -->
                {% else %}
                    <nav>
                        <ul>
                            <li class="menu-item-has-children">
                                <a title="Inicio">Inicio</a>
                                <ul>
                                    <li><a href="{{ path('index') }}" title="Página principal">Página principal</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a title="Zona empresario">Zona empresario</a>
                                <ul>
                                    <li><a href="{{ path('loginEmp') }}" title="Login empresas">Login</a></li>
                                    <li><a href="{{ path('registroEmp') }}" title="Registro empresas">Registro</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ path('lista') }}" title="Busqueda de empleos">Buscador de empleo</a>
                            </li>
                        </ul>
                        <div class="btn-extars">
                            <a href="{{ path('registro') }}" title="" class="post-job-btn"><i class="la la-plus"></i>Registrarse</a>
                            <ul class="account-btns">
                                <li class="signin-popup"><a href="{{ path('login') }}" title="Login usuario"><i class="la la-external-link-square"></i> Iniciar sesión</a></li>
                            </ul>
                        </div>
                    </nav><!-- Menus -->
                {% endif %}
            </div>
        </div>
    </header>

    {% block contenido %}

    {% endblock %}
    <footer>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 column">
                        <div class="widget">
                            <div class="about_widget">
                                <div class="logo">
                                    <a href="{{ path('index') }}" title=""><img src="{{ asset('images/introjobs-title.png') }}" alt="" /></a>
                                </div>
                                <span>Collin Street West, Victor 8007, Australia.</span>
                                <span>+1 246-345-0695</span>
                                <span>info@jobhunt.com</span>
                                <div class="social">
                                    <a href="#" title=""><i class="fa fa-facebook"></i></a>
                                    <a href="#" title=""><i class="fa fa-twitter"></i></a>
                                    <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                                    <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                    <a href="#" title=""><i class="fa fa-behance"></i></a>
                                </div>
                            </div><!-- About Widget -->
                        </div>
                    </div>
                    <div class="col-lg-4 column">
                        <div class="widget">
                            <h3 class="footer-title">Frequently Asked Questions</h3>
                            <div class="link_widgets">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a href="#" title="">Privacy & Seurty </a>
                                        <a href="#" title="">Terms of Serice</a>
                                        <a href="#" title="">Communications </a>
                                        <a href="#" title="">Referral Terms </a>
                                        <a href="#" title="">Lending Licnses </a>
                                        <a href="#" title="">Disclaimers </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a href="#" title="">Support </a>
                                        <a href="#" title="">How It Works </a>
                                        <a href="#" title="">For Employers </a>
                                        <a href="#" title="">Underwriting </a>
                                        <a href="#" title="">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 column">
                        <div class="widget">
                            <h3 class="footer-title">Find Jobs</h3>
                            <div class="link_widgets">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="#" title="">US Jobs</a>
                                        <a href="#" title="">Canada Jobs</a>
                                        <a href="#" title="">UK Jobs</a>
                                        <a href="#" title="">Emplois en Fnce</a>
                                        <a href="#" title="">Jobs in Deuts</a>
                                        <a href="#" title="">Vacatures China</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 column">
                        <div class="widget">
                            <div class="download_widget">
                                <a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
                                <a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-line">
            <span>© 2018 IntroJob</span>
            <a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
        </div>
    </footer>

</div>
{% if is_granted('ROLE_USER') %}
    <div class="profile-sidebar">
        <span class="close-profile"><i class="la la-close"></i></span>
        <div class="can-detail-s">
            <div class="cst">
                <img src="/img_user/{{ app.user.imagen }}" alt="" class="img-profile-145" />
            </div>
            <h3>{{ app.user.nombre }}<br>{{ app.user.apellidos }}</h3>
            <span><i>{{ app.user.especialidad }}</i></span>
            <p>{{ app.user.email }}</p>
            <p>{{ app.user.fechaNacimiento }}</p>
            <p><i class="la la-map-marker"></i>{{ app.user.paises }} / {{ app.user.provincias }}</p>
        </div>
        <div class="tree_widget-sec">
            <ul>
                <li class="inner-child">
                    <a title="Mi perfil"><i class="la la-briefcase"></i>Mi perfil</a>
                    <ul>
                        <li><a href="{{ path('perfil') }}" title="Sobre mi">Sobre mi</a></li>
                        <li><a href="{{ path('perfil-editar') }}" title="Editar mi informacion">Editar mi información</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('logout') }}" title=""><i class="la la-unlink"></i>Cerrar sesión</a></li>
            </ul>
        </div>
    </div><!-- Profile Sidebar -->
{% endif %}
<div class="view-resumesec">
    <div class="view-resumes">
        <span class="close-resume-popup"><i class="la la-close"></i></span>
        <h3>13 Times Viewed By 8 Companies.</h3>
        <div class="job-listing wtabs">
            <div class="job-title-sec">
                <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                <h3><a href="#" title="">Web Designer / Developer</a></h3>
                <span>Massimo Artemisis</span>
                <div class="job-lctn">Sacramento, California</div>
            </div>
            <span class="date-resume">11.02.2017</span>
        </div><!-- Job -->
        <div class="job-listing wtabs">
            <div class="job-title-sec">
                <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                <h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
                <span>Massimo Artemisis</span>
                <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
            </div>
            <span class="date-resume">11.02.2017</span>
        </div><!-- Job -->
        <div class="job-listing wtabs">
            <div class="job-title-sec">
                <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                <h3><a href="#" title="">Web Designer / Developer</a></h3>
                <span>Massimo Artemisis</span>
                <div class="job-lctn">Sacramento, California</div>
            </div>
            <span class="date-resume">11.02.2017</span>
        </div><!-- Job -->
        <div class="job-listing wtabs">
            <div class="job-title-sec">
                <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                <h3><a href="#" title="">Web Designer / Developer</a></h3>
                <span>Massimo Artemisis</span>
                <div class="job-lctn">Sacramento, California</div>
            </div>
            <span class="date-resume">11.02.2017</span>
        </div><!-- Job -->
    </div>
</div>

<div class="follow-companiesec">
    <div class="follow-companies">
        <span class="close-follow-company"><i class="la la-close"></i></span>
        <h3>Follow Companies.</h3>
        <ul id="scrollbar">
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">Web Designer / Developer</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">Tix Dog</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">StarHealth</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">Altes Bank</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">StarHealth</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">Altes Bank</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
        </ul>
    </div>
</div>


<script src={{ asset("js/jquery.min.js") }} type="text/javascript"></script>
<script src={{ asset("js/modernizr.js") }} type="text/javascript"></script>
<script src={{ asset("js/script.js") }} type="text/javascript"></script>
<script src={{ asset("js/wow.min.js") }} type="text/javascript"></script>
<script src={{ asset("js/slick.min.js") }} type="text/javascript"></script>
<script src={{ asset("js/parallax.js") }} type="text/javascript"></script>
<script src={{ asset("js/select-chosen.js") }} type="text/javascript"></script>
<script src={{ asset("js/jquery.scrollbar.min.js") }} type="text/javascript"></script>
<script src={{ asset("js/circle-progress.min.js") }} type="text/javascript"></script>
<!--<script src={{ asset("js/tag.js") }} type="text/javascript" type="text/javascript"></script>-->
<script src={{ asset("js/maps3.js") }} type="text/javascript"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYc537bQom7ajFpWE5sQaVyz1SQa9_tuY&sensor=true&libraries=places"></script>

</body>
</html>