{% extends 'plantillas/plantilla.html.twig' %}

{% block contenido %}

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Información general</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div style="display: flex;justify-content: flex-end;">
                    <a href="{{ path('perfil') }}" id="volverPerfil">Volver</a>
                </div>
                <div class="row no-gape justify-content-center">
                    <div class="col-lg-9 column" style="margin-bottom: 50px">
                        <div class="padding-left">
                            <div class="profile-form-edit">
                                {% for flashMessage in app.session.flashbag.get('mensaje') %}
                                    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
                                        {{ flashMessage }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                                {{ form_start(form, { 'attr' : {'role':'form'}}) }}
                                <div id="educacion" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Salario minimo</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.expectativaSalario) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Salario máximo</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.expectativaSalarioFinal) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Industria</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.industria) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Experiencia</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.experiencia) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Nivel de la carrera</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.nivelCarrera) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Información personal</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.infoPersonal) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}