<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>IntroJob | Tu buscador de trabajo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ asset('images/ij.png') }}" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href={{ asset("css/bootstrap-grid.css") }} />
	<link rel="stylesheet" href={{ asset("css/icons.css") }}>
	<link rel="stylesheet" href={{ asset("css/animate.min.css") }}>
	<link rel="stylesheet" type="text/css" href={{ asset("css/style.css") }} />
	<link rel="stylesheet" type="text/css" href={{ asset("css/responsive.css") }} />
	<link rel="stylesheet" type="text/css" href={{ asset("css/chosen.css") }} />
	<link rel="stylesheet" type="text/css" href={{ asset("css/colors/colors.css") }} />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

</head>
<body>

<div class="page-loading">
	<img src="{{ asset('images/loader.gif') }}" alt="cargando" />
	<span>Salir</span>
</div>

<div class="theme-layout" id="scrollup">

	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="{{ path('index') }}" title="Página principal"><img src="{{ asset('images/introjobs-title.png') }}" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="images/icon.png" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="images/icon2.png" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
            {% if is_granted('ROLE_USER') %}
				<form class="res-search">
					<input type="text" placeholder="Job title, keywords or company name" />
					<button type="submit"><i class="la la-search"></i></button>
				</form>
				<div class="responsivemenu">
					<ul>
						<li class="menu-item-has-children">
							<a title="Inicio">Inicio</a>
							<ul>
								<li><a href="{{ path('index') }}" title="Página principal">Página principal</a></li>
							</ul>
						</li>
						<li>
							<a href="{{ path('list') }}" title="Busqueda de empleos">Buscador de empleo</a>
						</li>
					</ul>
				</div>
            {% else %}
				<div class="btn-extars">
					<a href="{{ path('registro') }}" title="" class="post-job-btn"><i class="la la-plus"></i>Registrarse</a>
					<ul class="account-btns">
						<li class="signin-popup"><a href="{{ path('login') }}" title=""><i class="la la-external-link-square"></i> Iniciar sesión</a></li>
					</ul>
				</div><!-- Btn Extras -->
				<div class="responsivemenu">
					<ul>
						<li class="menu-item-has-children">
							<a title="Inicio">Inicio</a>
							<ul>
								<li><a href="{{ path('index') }}" title="Página princiapl">Página principal</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a title="Zona empresario">Zona empresario</a>
							<ul>
								<li><a href="{{ path('loginEmp') }}" title="Login empresa">Login</a></li>
								<li><a href="{{ path('registroEmp') }}" title="Registro empresa">Registro</a></li>
							</ul>
						</li>
						<li>
							<a href="{{ path('list') }}" title="Busqueda de empleos">Buscador de empleo</a>
						</li>
					</ul>
				</div>
            {% endif %}
		</div>
	</div>

	<header class="gradient">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="{{ path('index') }}" title=""><img src="{{ asset('images/introjobs-title.png') }}" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<a href="{{ path('registro') }}" title="" class="post-job-btn"><i class="la la-plus"></i>Registrarse</a>
					<ul class="account-btns">
						<li class="signin-popup"><a href="{{ path('login') }}" title=""><i class="la la-external-link-square"></i> Iniciar sesión</a></li>
					</ul>
				</div>
				<nav>
					<ul>
                        {% if is_granted('ROLE_USER') %}
							<li class="menu-item-has-children">
								<a title="Inicio">Inicio</a>
								<ul>
									<li><a href="{{ path('index') }}" title="Página principal">Página principal</a></li>
								</ul>
							</li>
							<li>
								<a href="{{ path('list') }}" title="Busqueda de empleos">Buscador de empleo</a>
							</li>
                        {% else %}
							<li class="menu-item-has-children">
								<a title="Inicio">Inicio</a>
								<ul>
									<li><a href="{{ path('index') }}" title="Página principal">Página principal</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a title="Zona empresario">Zona empresario</a>
								<ul>
									<li><a href="{{ path('loginEmp') }}" title="Login empresa">Login</a></li>
									<li><a href="{{ path('registroEmp') }}" title="Registro empresa">Registro</a></li>
								</ul>
							</li>
							<li>
								<a href="{{ path('list') }}" title="Busqueda de empleos">Buscador de empleo</a>
							</li>
                        {% endif %}
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

    {% block contenido %}

    {% endblock %}

	<footer>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
									<a href="{{ path('index') }}" title=""><img src="{{ asset('images/introjobs-title.png') }}" alt="" /></a>
								</div>
								<span>Collin Street West, Victor 8007, Australia.</span>
								<span>+1 246-345-0695</span>
								<span>info@jobhunt.com</span>
								<div class="social">
									<a href="#" title=""><i class="fa fa-facebook"></i></a>
									<a href="#" title=""><i class="fa fa-twitter"></i></a>
									<a href="#" title=""><i class="fa fa-linkedin"></i></a>
									<a href="#" title=""><i class="fa fa-pinterest"></i></a>
									<a href="#" title=""><i class="fa fa-behance"></i></a>
								</div>
							</div><!-- About Widget -->
						</div>
					</div>
					<div class="col-lg-4 column">
						<div class="widget">
							<h3 class="footer-title">Preguntas frecuentes</h3>
							<div class="link_widgets">
								<div class="row">
									<div class="col-lg-6">
										<a href="{{ path('funcionamos') }}" title="Como funcionamos">Como funcionamos</a>
										<a href="{{ path('nosotros') }}" title="Nosotros">Nosotros</a>
									</div>
									<div class="col-lg-6">
										<a href="#" title="">Support </a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 column">
						<div class="widget">
							<h3 class="footer-title">Find Jobs</h3>
							<div class="link_widgets">
								<div class="row">
									<div class="col-lg-12">
										<a href="#" title="">US Jobs</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 column">
						<div class="widget">
							<div class="download_widget">
								<a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
			<span>© 2018 IntroJob</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>

</div>


<script src={{ asset("js/jquery.min.js") }} type="text/javascript"></script>
<script src={{ asset("js/modernizr.js") }} type="text/javascript"></script>
<script src={{ asset("js/script.js") }} type="text/javascript"></script>
<script src={{ asset("js/wow.min.js") }} type="text/javascript"></script>
<script src={{ asset("js/slick.min.js") }} type="text/javascript"></script>
<script src={{ asset("js/parallax.js") }} type="text/javascript"></script>
<script src={{ asset("js/select-chosen.js") }} type="text/javascript"></script>
<script src={{ asset("js/jquery.scrollbar.min.js") }} type="text/javascript"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYc537bQom7ajFpWE5sQaVyz1SQa9_tuY&sensor=true&libraries=places"></script>

<script src={{ asset("js/registro.js") }} type="text/javascript"></script>

</body>
</html>