{% extends 'plantillas/plantilla.html.twig' %}

{% block contenido %}

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>¿Has mejorado tu idioma?</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape justify-content-center">
                    <div class="col-lg-9 column" style="margin-bottom: 50px">
                        <div class="padding-left">
                            <div class="profile-form-edit">
                                {{ form_start(form, { 'attr' : {'role':'form'}}) }}
                                <div id="educacion" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Idioma</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.idiomas) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Nivel</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.nivel) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <span class="pf-title">Leido</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.leido) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <span class="pf-title">Hablado</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.hablado) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <span class="pf-title">Escrito</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.escrito) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}