{% extends 'empresarios/plantillas/plantilla.html.twig' %}
{% block contenido %}

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header-empresa">
                            <h3>{{ empresa.nombre }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 column">
                        <div class="job-single-sec style3">
                            <div class="job-wide-devider">
                                <div class="job-overview divide">
                                    <h3>Informaci칩n de la empresa</h3>
                                    <ul>
                                        {% for num in cuantas %}
                                            <li><i class="la la-file-text"></i><h3>Ofertas</h3><span>{{ num.num }}</span></li>
                                        {% endfor %}
                                        <li><i class="la la-map"></i><h3>Localizaci칩n</h3><span>{{ empresa.direccion }}</span></li>
                                    </ul>
                                </div><!-- Job Overview -->
                                <div class="job-details">
                                    <h3>Informaci칩n de la compa침ia</h3>
                                    <p>{{ empresa.descripcion }}</p>
                                </div>
                                <div class="recent-jobs">
                                    <h3>Jobs from Business Network</h3>
                                    <div class="job-list-modern">
                                        <div class="job-listings-sec no-border">
                                            {% for oferta in ofertas %}
                                            <div class="job-listing wtabs noimg">
                                                <div class="job-title-sec">
                                                    <h3><a href="{{ path('oferta', {titulo:oferta.titulo}) }}" title="">{{ oferta.titulo }}</a></h3>
                                                    <span>{{ oferta.categoria }}</span>
                                                    <div class="job-lctn"><i class="la la-map-marker"></i>{{ oferta.provincia }}</div>
                                                </div>
                                                <div class="job-style-bx">
                                                    {% if oferta.horario == 'Jornada parcial' %}
                                                    <span class="job-is ft">{{ oferta.horario }}</span>
                                                    {% elseif oferta.horario == 'Jornada completa' %}
                                                        <span class="job-is pt">{{ oferta.horario }}</span>
                                                    {% else %}
                                                        <span class="job-is fl">{{ oferta.horario }}</span>
                                                    {% endif %}
                                                    <i>{{ oferta.fechaCreacion }}</i>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 column">
                        <div class="job-single-head style2">
                            <div class="job-thumb">
                                <div class="cst-img">
                                    <div style="background-image: url('/img_empresa/{{ empresa.imagen }}')" class="img-profile-145"></div>
                                </div>
                            </div>
                            <div class="job-head-info">
                                <h4>{{ empresa.nombre }}</h4>
                                <span>{{ empresa.direccion }}</span>
                                {% if empresa.web != null %}
                                <p><i class="la la-unlink"></i> {{ empresa.web }}</p>
                                {% endif %}
                                <p><i class="la la-phone"></i> {{ empresa.telefono }}</p>
                                <p><i class="la la-envelope-o"></i> {{ empresa.email }}</p>
                            </div>
                            <div class="share-bar">
                                {% if empresa.google != null %}
                                <a href="{{ empresa.google }}" title="" class="share-google"><i class="la la-google"></i></a>
                                {% endif %}
                                {% if empresa.facebook != null %}
                                <a href="{{ empresa.facebook }}" title="" class="share-fb"><i class="fa fa-facebook"></i></a>
                                {% endif %}
                                {% if empresa.twitter != null %}
                                <a href="{{ empresa.twitter }}" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
                                {% endif %}
                                {% if empresa.linkedin != null %}
                                <a href="{{ empresa.linkedin }}" title="" class="share-fb"><i class="fa fa-linkedin"></i></a>
                                {% endif %}
                            </div>
                        </div><!-- Job Head -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

