{% extends 'plantillas/login.html.twig' %}
{% block contenido %}
    
    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Inicio de sesión</h3>
                                <span>Mantengase al día con las últimas ofertas de empleo</span>
                            </div>
                            <div class="page-breacrumbs">
                                <ul class="breadcrumbs">
                                    <li><a href="{{ path('index') }}" title="">Inicio</a></li>
                                    <li><a href="{{ path('login') }}" title="">Iniciar sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block remove-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="account-popup-area signin-popup-box static">
                            <div class="account-popup">
                                {% if error %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error.messagekey }}
                                    </div>
                                {% endif %}
                                <form action="{{ path('login') }}" method="post">
                                    <div class="cfield">
                                        <input type="text" placeholder="Nombre de usuario" name="username" value="{{ last_username }}" autofocus />
                                        <i class="la la-user"></i>
                                    </div>
                                    <div class="cfield">
                                        <input type="password" placeholder="********" name="password" />
                                        <i class="la la-key"></i>
                                    </div>
                                    <a href="#" title="">Olvidaste la contraseña?</a>
                                    <div>
                                        <input type="hidden" name="_target_path" value="{{ path('lista') }}">
                                        <button type="submit">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div><!-- LOGIN POPUP -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}