{% extends 'plantillas/login.html.twig' %}
{% block contenido %}

    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Registro de usuario</h3>
                                <span>Registrate para estar al tanto de las nuevas ofertas de empleo</span>
                            </div>
                            <div class="page-breacrumbs">
                                <ul class="breadcrumbs">
                                    <li><a href="{{ path('login') }}" title="">Index</a></li>
                                    <li><a href="{{ path('registro') }}" title="">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape justify-content-center">
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="profile-title">
                                <h3>Tu información personal</h3>
                                <div class="steps-sec">
                                    <div class="step active" id="circle-educacion">
                                        <p><i class="la la-graduation-cap"></i></p>
                                        <span>Principal</span>
                                    </div>
                                    <div class="step" id="circle-experiencia">
                                        <p><i class="la la-file-text"></i></p>
                                        <span>Personal</span>
                                    </div>
                                    <div class="step" id="circle-habilidades">
                                        <p><i class="la  la-check-circle"></i></p>
                                        <span>Localización</span>
                                    </div>
                                    <div class="step" id="circle-informacion">
                                        <p><i class="la  la-user"></i></p>
                                        <span>Información</span>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-form-edit">
                                {{ form_start(form, { 'attr' : {'role':'form'}}) }}
                                <div id="educacion" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Nombre del usuario *</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.username) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Contraseña *</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.password.first) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Repetir contraseña *</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.password.second) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Correo electrónico *</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.email) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="button" id="edu-siguiente">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="experiencia" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Nombre *</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.nombre) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Apellidos *</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.apellidos) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Fecha de nacimiento *</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.fecha_nacimiento) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Sexo</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.sexo) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="display: flex;justify-content: space-between;">
                                            <button type="button" id="expe-atras">Atrás</button>
                                            <button type="button" id="expe-siguiente">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="habilidades" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Pais origen</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.paises) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Provincia</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.provincias) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Direccion</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.direccion) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Código postal *</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.cod_postal) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="display: flex;justify-content: space-between;">
                                            <button type="button" id="habili-atras">Atrás</button>
                                            <button type="button" id="habili-siguiente">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="informacion" class="contact-edit" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Teléfono *</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.telefono) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Especialidad</span>
                                            <div class="pf-field">
                                                {{ form_widget(form.especialidad) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="upload-portfolio">

                                                <div class="uploadbox">
                                                    <label for="appbundle_usuario_imagen" class="custom-file-upload">
                                                        <i class="la la-cloud-upload"></i> <span>Subir imagen<br>Opcional</span>
                                                    </label>
                                                    {{ form_widget(form.imagen) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="display: flex;justify-content: space-between;">
                                            <button type="button" id="info-atras">Atrás</button>
                                            <div class="col-lg-6">
                                                {{ form_widget(form.Enviar) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}